body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}
#themeCheckbox{
    height: 20px;
    width: 20px;
}
label{
    font-size: 23px;
    font-family: sans-serif;
}